.box {
  font-family: monospace;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
}

button {
  height: 25px;
  width: 25px;
  text-align: center;
  border: none;
  outline: none;
  vertical-align: top;
}

.grid {
  margin-bottom: 7px;
  border-radius: 2px;
  background-color: #b3ebe5;
  color: #fff;
  transition: 100ms;
}

.grid:hover{
  transform: translateY(-2px);
  background-color: #ffd3cb;
  cursor: pointer;
}

.grid:disabled {
  background-color: #fff;
  color: #000;
  cursor: default;
}

.controls button {
  background-color: #fff;
}

.controls button:hover {
  border: none;
  outline: none;
  cursor: pointer;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}